:root {
  font-size: 16px;

  --black:#000;
  
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(37, 58, 115);
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
  }

  h2 {
    font-size: 28px;
    color: white;
  }

  div #app {
    text-align: left;
  }

  div .daily, .hourly {
    display: inline-block;
    color: var(--black);
    background-color: white;
    width: 25%;
  }
  .daily-forecast-row .col-md-4, .hourly-forecast-row .col-md-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: .5rem;
    border-radius: 25px;
  }
 