:root {
  font-size: 18px;

  --black:#000;
  
}
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(37, 58, 115);
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
  }

  h2 {
    font-size: 28px;
    color: white;
  }

  div #app {
    text-align: left;
  }


  div .weatherInfo {
    display: inline-block;
    color: var(--black);
    background-color: white;
    width: 25%;
  }

  .daily-forecast-row, .hourly-forecast-row {
   display: flex;
    justify-content: space-evenly;
  }

  .daily-forecast-row .weatherInfo, .hourly-forecast-row .weatherInfo {
    width: 300px;
    height: 200px;
    padding: 2rem;
    padding-bottom: 4rem;
    margin: 1rem;
    border-radius: 25px;
  }

  .weatherImage {
    width: 100%;
    max-width: 200px;
    max-height: 150px;
    display: none;
    margin: 1rem auto;
  }
 