body {
    font-family: Arial, sans-serif;
    background-color: #242424;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: white;
  }

  div #app {
    text-align: center;
  }

  div .daily, .hourly {
    display: inline-block;
    color: #000;
    background-color: white;
    width: 33%;
  }