/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-block-start: 0;
    margin-block-end: 0;
}